/* Documentation */

@import "gp-boilerplate-documentation/critical.pcss";

/* Variables */

@import "../../generated/pcss/grid/default.variables.pcss";
@import "../../generated/pcss/grid/default.pcss";

/* Documentation */

@import "gp-boilerplate-documentation/main.pcss";
